*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/*  */

/* Debugging */
div {
  /* outline: 2px solid pink;  */
  /* border-radius: 12px; */
}

/* BODY */

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 66ch 1.8fr;
  grid-template-rows: 8vh 1fr;
}

/* HEADER */

.header.container {
  background-color: rgb(192, 189, 189);
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  justify-items: center;
  align-items: center;
}

.header .site-name {
  font-size: 1.5rem;
}

.header.add-button {
  grid-column: 3;
  background-color: white;
  border-radius: 50px;
  padding: .5rem 1rem;
  cursor: pointer;
}

/* MAIN */

.main.container {
  grid-column: 2 / 3;
  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem 0;
  height: fit-content;
}

/* GRID ITEMS */

.grid-item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  background-color: lightgray;
}

.grid-left {
  display: grid;
  padding: 1rem;
  gap: 1rem 0;
}
.grid-right {
  display: grid;
  align-items: center;
  justify-items: center;
}

.title-author {
  /* margin-bottom: 1rem; */
}