*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/*  */

/* Debugging */
div {
  /* outline: 2px solid pink;  */
  /* border-radius: 12px; */
}

/* BODY */
:root {
  --accent-color: #93c5fd;
  --accent-color-light: #bfdbfe;
}

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 60ch 1.8fr;
  grid-template-rows: 8vh 1fr;

  position: relative;
}

/* HEADER */

.header.container {
  background-color: var(--accent-color);
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  justify-items: center;
  align-items: center;
}

.header .site-name {
  font-size: 1.5rem;
}

.header.add-button {
  grid-column: 3;
  background-color: white;
  border-radius: 50px;
  padding: .5rem 1rem;
  cursor: pointer;
}

/* MAIN */

.main.container {
  grid-column: 2 / 3;
  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem 0;
  height: fit-content;
}

/* GRID ITEMS */

.grid-item {
  display: grid;
  grid-template-columns: 4fr 1fr;
  border-bottom: 2px solid var(--accent-color);
  background-color: var(--accent-color-light);
  border-radius: 12px;
  box-shadow: 2px 2px 2px pink;
}

.grid-left {
  display: grid;
  padding: 1rem;
  gap: 1rem 0;
}
.grid-right {
  display: grid;
  align-items: center;
  justify-items: start;
}

.remove-book {
  --background-size: 2em;
  justify-self: end;
  margin-right: 1rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  text-align: center;
  height: var(--background-size);
  width: var(--background-size);

  display: grid;
  align-items: center;
  justify-items: center;
}
.is-read,
.remove-book {
  cursor: pointer;
}

.is-read {
  text-decoration: underline 2px black;
}

.is-read:hover {
  text-decoration: none;
}
/* FORM CONTAINER */

.form.container {
  grid-column: 3;
  height: fit-content;
  grid-row: 2;
  background-color: #efefef;
  background-color: var(--accent-color-light);
  border-radius: 0 0 0 15px;
  justify-self: end;
  min-width: clamp(100px, 70%, 1000px);
  position: sticky;
  top: 0;
  display: none;
}

.book-form {
  display: grid;
  padding: 1rem;
  gap: 1rem;
}

.book-form > input {
  border-radius: 6px;
  padding: 0 .5rem;
}

.book-form > input:user-valid {
  border-color: rgb(25, 176, 25);
}

.book-form > button {
  background-color: rgb(54, 153, 230);
  color: white;
  border: none;
  border-radius: 24px;
  max-width: fit-content;
  padding: .5rem 2rem;
  justify-self: center;
  cursor: pointer;
}

