*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}


/*  */

/* Debugging */
div {
  outline: 2px solid pink;
  border-radius: 12px;
}

/* BODY */

body {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr 66ch 1.5fr;
  grid-template-rows: 6vh 1fr;
}

/* HEADER */

.header.container {
  background-color: rgb(192, 189, 189);
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr 6fr;
  justify-items: center;
  align-items: center;
}

.header .site-name {
  font-size: 1.5rem;
}
/* MAIN */

.main.container {
  grid-column: 2 / 3;
  grid-row: 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 15vh;
}